.main {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.main-content {
  max-width: 31.250rem;
  width: 100%;

  .header {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .pancakes-container {
    display: flex;
    flex-direction: column;
  }

  .add-pancake-container {
    display: flex;
    align-items: center;
    .add-pancake-input {
      flex: 1;
      margin-right: 10px;
    }
  }
}
