<div class="main">
  <div class="main-content">
    <div class="header">
      <div class="title">
        <h2>Beállítások</h2>
        <button mat-flat-button color="primary" type="button" routerLink="/">
          Rendelések
        </button>
      </div>
    </div>
    <h3>Palacsinták</h3>
    <div class="pancakes-container">
      <app-pancake [pancake]="pancake" *ngFor="let pancake of pancakes | async"></app-pancake>
    </div>
    <div class="add-pancake-container">
      <mat-form-field class="add-pancake-input">
        <input [formControl]="pancakeFormControl" matInput placeholder="Palacsinta neve">
      </mat-form-field>
      <button [disabled]="!pancakeFormControl.valid" mat-flat-button color="primary" type="button" (click)="addPancake()">
        Hozzáadás
      </button>
    </div>
  </div>
</div>
